Node-Red Flow/flows.json
[
    {
        "id": "d7d42662.d3e918",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b6dd220d.99af1",
        "type": "ui_form",
        "z": "d7d42662.d3e918",
        "name": "",
        "label": "",
        "group": "5cec1c0c.439cd4",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Enter Your Input",
                "value": "text",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "text": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "c99828.5333b7d8"
            ]
        ]
    },
    {
        "id": "c99828.5333b7d8",
        "type": "function",
        "z": "d7d42662.d3e918",
        "name": "",
        "func": "msg.payload=msg.payload.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "310e6f94.46f5",
                "b24324bc.03d618"
            ]
        ]
    },
    {
        "id": "f87b8a6d.ae8ec8",
        "type": "function",
        "z": "d7d42662.d3e918",
        "name": "",
        "func": "msg.payload=msg.payload.output.text[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 200,
        "wires": [
            [
                "ff9c2335.834a3"
            ]
        ]
    },
    {
        "id": "310e6f94.46f5",
        "type": "watson-conversation-v1",
        "z": "d7d42662.d3e918",
        "name": "Customer Care",
        "workspaceid": "7376e782-afc3-4ea4-b33f-16ffb142062f",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/30f1de38-72ed-426d-b913-c257d1327df8",
        "timeout": "",
        "optout-learning": false,
        "x": 540,
        "y": 160,
        "wires": [
            [
                "f87b8a6d.ae8ec8",
                "bb5dd54d.0abaf8"
            ]
        ]
    },
    {
        "id": "b24324bc.03d618",
        "type": "ui_text",
        "z": "d7d42662.d3e918",
        "group": "5cec1c0c.439cd4",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "You :",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 410,
        "y": 320,
        "wires": []
    },
    {
        "id": "bb5dd54d.0abaf8",
        "type": "debug",
        "z": "d7d42662.d3e918",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 700,
        "y": 60,
        "wires": []
    },
    {
        "id": "ff9c2335.834a3",
        "type": "ui_text",
        "z": "d7d42662.d3e918",
        "group": "5cec1c0c.439cd4",
        "order": 3,
        "width": 12,
        "height": 6,
        "name": "",
        "label": "Bot",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 900,
        "y": 320,
        "wires": []
    },
    {
        "id": "5cec1c0c.439cd4",
        "type": "ui_group",
        "z": "",
        "name": "Chatbot",
        "tab": "71c95e65.91b1a",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "71c95e65.91b1a",
        "type": "ui_tab",
        "z": "",
        "name": "Customer Care Helpdesk",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]